.about
  padding: 96px 0 106px

  &__title
    width: 100%
    text-align: center
  &__list
    display: flex
    justify-content: space-between
    margin-top: 41px
    +sm-block
      flex-wrap: wrap

  &__item
    text-align: center
    padding: 0 20px
    +sm-block
      margin-bottom: 30px
      padding: 0 50px

  &__header
    margin: 24px 0 10px
    font-size: 1.4rem
    font-family: $ff-main-bold

  &__description
    line-height: 1.5
