.approch
  background-color: $c-grey
  padding: 85px 0
  &__title
    text-align: center
    margin-bottom: 39px
  &__pic
    border-radius: 3px 0 0 3px
  &__list
    counter-reset: count
  &__item
    display: flex
    align-items: center
    border-radius: 5px
    border: 2px solid darken($c-grey, 7%)
    background-color: #fff
    margin: 0 auto
    margin-bottom: 39px
    +xs-block
      flex-wrap: wrap

    &:nth-child(2n)
      flex-direction: row-reverse
      text-align: right
      img
        border-radius: 0 3px 3px 0
      .approch__text
        margin-right: 30px
        +xs-block
          margin: 20px auto

      text-align: center
      .approch__head
        margin-right: 20px

  &__text
    margin-left: 37px
    width: 55%
    +sm-block
      margin: 0 20px
    +xs-block
      margin: 0 auto
      margin-bottom: 20px
      width: 80%
      text-align: justify
  &__img
    position: relative
    max-width: 340px
    margin-right: 50px
    +sm-block
      margin-right: 0
    +xs-block
      margin: 0 auto
      margin-bottom: 20px
      margin-top: 10px
  &__step
    position: absolute
    width: 100px
    height: 100px
    background-color: $c-red
    border: 2px solid #fff
    border-radius: 5px
    right: 0
    top: 50%
    transform: translate(50%, -50%)
    color: #fff
    text-align: center
    box-sizing: border-box
    +sm-block
      display: none
    &:before
      content: counter(count)
      counter-increment: count
      display: block
      font-size: 3rem
      margin-top: -5px
  &__head
    margin-bottom: 14px
    font-family: $ff-main-bold

  &__item
    &:nth-child(2n)
      .approch__step
        transform: translate(-50%, -50%)
        left: 0
      .approch__img
        margin-left: 50px
        margin-right: 0
        +sm-block
          margin-left: 0
        +xs-block
          margin: 0 auto
          margin-top: 10px