.footer
  background-color: #2A2A2A
  text-align: center
  padding: 79px 0 0
  color: #ffffff
  &__title
    &:after
      border: none
  &__links
    margin: 30px 0 47px
    a
      border: 2px solid #515151
      border-radius: 3px
      padding: 10px 12px
      margin-left: 21px
      font-size: 21px
      &:hover
        border-color: $c-red
      &:first-child
        margin-left: 0

  &__inp
    margin: 31px auto
    width: 65%
    height: 54px
    display: block
    background-color: #515151
    padding-left: 24px
    border-radius: 3px
    border: none
    
  &__submit
    border-radius: 5px
    border: 2px solid #515151
    background-color: #2a2a2a
    color: #ffffff
    padding: 15px 35px
    font-size: 1.1rem
    &:hover
      border-color: $c-red
  &__bottom
    background-color: #515151
    padding: 20px 0
    margin-top: 79px
