.form
  padding: 93px 0 111px
  background-color: $c-blue
  color: #ffffff
  text-align: center
  border-bottom: 2px solid #ffffff
  &__wrap
    margin: 0 auto
    width: 66%
    background-color: #fff
    border-radius: 5px
    position: relative
    margin-top: 50px
    padding: 50px 30px 68px 30px
    box-sizing: border-box
    color: $c-grey-dark
    +xs-block
      width: 90%
      padding: 44px 0px 30px 0px

    &:before
      position: absolute
      top: -80px
      content: ''
      left: 50%
      transform: translateX(-50%)
      display: block
      border: 50px solid transparent
      border-bottom-color: #ffffff

  &__arrow
    margin-top: 8px
    font-size: 4rem
  &__close
    position: absolute
    right: 0
    top: 0
    color: #fff
    transform: translate(50%, -50%)
    width: 50px
    height: 50px
    border-radius: 50%
    border: 2px solid #ffffff
    background-color: $c-red
    font-size: 1.5rem
    padding-top: 6px
    box-sizing: border-box
  &__text
    display: block
    margin: 0 auto
    width: 72%
    height: 50px
    border-radius: 5px
    color: #737678
    margin-bottom: 6px
    padding-left: 16px
    border: 1px solid  darken($c-grey, 10%)
  &__head
    margin-bottom: 35px
    +xs-block
      display: none
  &__submit
    text-transform: uppercase
    background-color: $c-red
    margin-top: 35px
    padding: 15px 37px
  &__title:after
    border: none
    margin-top: 0
.is-hidden
  display: none
