.header
  &__top
    background-color: $c-grey
    border-bottom: 1px solid $c-grey-dark
    text-align: right
    +md-block
      padding-right: 40px



.contact
  padding: 0 26px 0 10px
  line-height: 2rem
  display: inline-block
  &--icon
    vertical-align: middle
  &__text
    font-size: 0.9rem
    padding-left: 5px
    +xs-block
      display: none

  &:first-child
    border-right: 1px solid $c-grey-dark
    +xs-block
      border-right: none
.face-icon
  color: #ffffff
  border: 1px solid #000
  border-radius: 3px
  background-color: $c-blue
  padding: 3px 6px

.header__bottom
  display: flex
  justify-content: space-between
  align-items: center
  padding: 44px 0 39px 0
  +md-block
    flex-wrap: wrap
    justify-content: center

