.hero
  text-align: center
  color: #ffffff
  background: $c-grey url("../img/header.jpg") no-repeat center/cover
  min-height: 59px
  padding: 163px 0 239px
  +xs-block
    padding: 100px 0
  &__button
    text-transform: uppercase
    background-color: orange
    font-size: 1.2rem
    padding: 23px 39px
    letter-spacing: 0.2rem
    margin-top: 10px
  &__title
    &:after
      border: none
  .title__head
    font-size: 3rem
    +xs-block
      margin-bottom: 80px
  .title__text
    font-size: 1.8rem
    +xs-block
      display: none
