.nav
  font-family: $ff-main-bold
  margin-left: auto
  margin-right: 30px
  +md-block
    width: 100%
    text-align: center
    margin: 20px 0
  &__item
    &:before
      content: ''
      margin: 0 13px
      display: inline-block
      border: 3px solid #000
      vertical-align: middle
      border-radius: 50%
      +xs-block
        display: none
    &:first-child
      &:before
        border: none
    +xs-block
      display: block
      border-radius: 5px
      padding: 15px 0
      width: 50%
      background: #FFA500
      color: #ffffff
      margin: 0 auto
      margin-bottom: 10px

      
  &--active
    color: $c-red