.title
  position: relative

  &__head
    font-size: 2rem
    font-family: $ff-main-bold
  &__text
    font-size: 1.2rem

  &:after
    content: ''
    display: block
    position: relative
    left: 50%
    transform: translateX(-50%)
    margin-top: 17px
    border: 2px solid $c-font
    width: 42px