.work
  padding: 104px 0 128px
  color: #ffffff
  background-color: $c-red
  text-align: center
  &__content
    display: flex
    flex-wrap: wrap
    margin-top: 43px
    +md-block
      justify-content: center
      margin: 43px auto 0 auto
    +xs-block
  &__project
    width: 25%
    background-color: #F35E59
    display: flex
    flex-wrap: wrap
    align-content: flex-end
    position: relative
    +md-block
      width: 40%
      margin-bottom: 10px
      &:nth-child(2n)
        //width: 50%
    +sm-block
      width: 55%
      padding: 50px 0 30px
      box-sizing: border-box
      align-content: center
    +xs-block
      width: 90%
      &:nth-child(2n+1)
        margin-bottom: 0

    img
      max-height: 254px
      +md-block
      +sm-block
        margin: 0 auto
      +xs-block
        width: 100%

  &__head
    width: 100%
    margin-bottom: 5px
    font-size: 1.6rem
    font-family: $ff-main-bold
    &:before
      content: ''
      @include sprite($fly)
      display: block
      position: absolute
      left: 50%
      transform: translate(-50%, -110%)
  &__title
    letter-spacing: 1px
    &:after
      border-color: #fff



  &__text
    width: 100%
    margin-bottom: 71px
    +sm-block
      margin-bottom: 0

