@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'georgia-regular';
  src: url("../fonts/georgia/georgia-regular/georgia-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/georgia/georgia-regular/georgia-regular.woff") format("woff"), url("../fonts/georgia/georgia-regular/georgia-regular.ttf") format("ttf");
}

@font-face {
  font-family: "helvetica-bold";
  src: url("../fonts/helvetica/helvetica-bold/helvetica-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/helvetica-bold/helvetica-bold.woff") format("woff"), url("../fonts/helvetica/helvetica-bold/helvetica-bold.ttf") format("ttf");
}

@font-face {
  font-family: 'helvetica-light';
  src: url("../fonts/helvetica/helvetica-light/helvetica-light.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/helvetica-light/helvetica-light.woff") format("woff"), url("../fonts/helvetica/helvetica-light/helvetica-light.ttf") format("ttf");
}

@font-face {
  font-family: 'helvetica';
  src: url("../fonts/helvetica/helvetica-regular/helvetica-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/helvetica-regular/helvetica-regular.woff") format("woff"), url("../fonts/helvetica/helvetica-regular/helvetica-regular.ttf") format("ttf");
}

html {
  font-size: 16px;
}

body {
  font-family: "helvetica";
  color: #5C5C5C;
}

@media screen and (max-width: 560px) {
  body {
    min-width: 359px;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.icon {
  position: relative;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.icon-hand {
  background-image: url(../img/sprite.png);
  background-position: -84px 0px;
  width: 83px;
  height: 79px;
}

.icon-book {
  background-image: url(../img/sprite.png);
  background-position: 0px -81px;
  width: 66px;
  height: 79px;
}

.icon-mass {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 84px;
  height: 81px;
}

.button {
  font-family: "helvetica-bold";
  border: none;
  border-radius: 5px;
  padding: 9px 17px;
  color: #ffffff;
}

.button--red {
  background-color: #DE2B24;
}

.title {
  position: relative;
}

.title__head {
  font-size: 2rem;
  font-family: "helvetica-bold";
}

.title__text {
  font-size: 1.2rem;
}

.title:after {
  content: '';
  display: block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 17px;
  border: 2px solid #5C5C5C;
  width: 42px;
}

.header__top {
  background-color: #F0F2F4;
  border-bottom: 1px solid #515151;
  text-align: right;
}

@media screen and (max-width: 960px) {
  .header__top {
    padding-right: 40px;
  }
}

.contact {
  padding: 0 26px 0 10px;
  line-height: 2rem;
  display: inline-block;
}

.contact--icon {
  vertical-align: middle;
}

.contact__text {
  font-size: 0.9rem;
  padding-left: 5px;
}

@media screen and (max-width: 560px) {
  .contact__text {
    display: none;
  }
}

.contact:first-child {
  border-right: 1px solid #515151;
}

@media screen and (max-width: 560px) {
  .contact:first-child {
    border-right: none;
  }
}

.face-icon {
  color: #ffffff;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #1287BF;
  padding: 3px 6px;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 44px 0 39px 0;
}

@media screen and (max-width: 960px) {
  .header__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav {
  font-family: "helvetica-bold";
  margin-left: auto;
  margin-right: 30px;
}

@media screen and (max-width: 960px) {
  .nav {
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }
}

.nav__item:before {
  content: '';
  margin: 0 13px;
  display: inline-block;
  border: 3px solid #000;
  vertical-align: middle;
  border-radius: 50%;
}

@media screen and (max-width: 560px) {
  .nav__item:before {
    display: none;
  }
}

.nav__item:first-child:before {
  border: none;
}

@media screen and (max-width: 560px) {
  .nav__item {
    display: block;
    border-radius: 5px;
    padding: 15px 0;
    width: 50%;
    background: #FFA500;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.nav--active {
  color: #DE2B24;
}

.hero {
  text-align: center;
  color: #ffffff;
  background: #F0F2F4 url("../img/header.jpg") no-repeat center/cover;
  min-height: 59px;
  padding: 163px 0 239px;
}

@media screen and (max-width: 560px) {
  .hero {
    padding: 100px 0;
  }
}

.hero__button {
  text-transform: uppercase;
  background-color: orange;
  font-size: 1.2rem;
  padding: 23px 39px;
  letter-spacing: 0.2rem;
  margin-top: 10px;
}

.hero__title:after {
  border: none;
}

.hero .title__head {
  font-size: 3rem;
}

@media screen and (max-width: 560px) {
  .hero .title__head {
    margin-bottom: 80px;
  }
}

.hero .title__text {
  font-size: 1.8rem;
}

@media screen and (max-width: 560px) {
  .hero .title__text {
    display: none;
  }
}

.about {
  padding: 96px 0 106px;
}

.about__title {
  width: 100%;
  text-align: center;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 41px;
}

@media screen and (max-width: 780px) {
  .about__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.about__item {
  text-align: center;
  padding: 0 20px;
}

@media screen and (max-width: 780px) {
  .about__item {
    margin-bottom: 30px;
    padding: 0 50px;
  }
}

.about__header {
  margin: 24px 0 10px;
  font-size: 1.4rem;
  font-family: "helvetica-bold";
}

.about__description {
  line-height: 1.5;
}

.approch {
  background-color: #F0F2F4;
  padding: 85px 0;
}

.approch__title {
  text-align: center;
  margin-bottom: 39px;
}

.approch__pic {
  border-radius: 3px 0 0 3px;
}

.approch__list {
  counter-reset: count;
}

.approch__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  border: 2px solid #dbe0e5;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 39px;
}

@media screen and (max-width: 560px) {
  .approch__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.approch__item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
  text-align: center;
}

.approch__item:nth-child(2n) img {
  border-radius: 0 3px 3px 0;
}

.approch__item:nth-child(2n) .approch__text {
  margin-right: 30px;
}

@media screen and (max-width: 560px) {
  .approch__item:nth-child(2n) .approch__text {
    margin: 20px auto;
  }
}

.approch__item:nth-child(2n) .approch__head {
  margin-right: 20px;
}

.approch__text {
  margin-left: 37px;
  width: 55%;
}

@media screen and (max-width: 780px) {
  .approch__text {
    margin: 0 20px;
  }
}

@media screen and (max-width: 560px) {
  .approch__text {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
    text-align: justify;
  }
}

.approch__img {
  position: relative;
  max-width: 340px;
  margin-right: 50px;
}

@media screen and (max-width: 780px) {
  .approch__img {
    margin-right: 0;
  }
}

@media screen and (max-width: 560px) {
  .approch__img {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.approch__step {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #DE2B24;
  border: 2px solid #fff;
  border-radius: 5px;
  right: 0;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 780px) {
  .approch__step {
    display: none;
  }
}

.approch__step:before {
  content: counter(count);
  counter-increment: count;
  display: block;
  font-size: 3rem;
  margin-top: -5px;
}

.approch__head {
  margin-bottom: 14px;
  font-family: "helvetica-bold";
}

.approch__item:nth-child(2n) .approch__step {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 0;
}

.approch__item:nth-child(2n) .approch__img {
  margin-left: 50px;
  margin-right: 0;
}

@media screen and (max-width: 780px) {
  .approch__item:nth-child(2n) .approch__img {
    margin-left: 0;
  }
}

@media screen and (max-width: 560px) {
  .approch__item:nth-child(2n) .approch__img {
    margin: 0 auto;
    margin-top: 10px;
  }
}

.work {
  padding: 104px 0 128px;
  color: #ffffff;
  background-color: #DE2B24;
  text-align: center;
}

.work__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 43px;
}

@media screen and (max-width: 960px) {
  .work__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 43px auto 0 auto;
  }
}

.work__project {
  width: 25%;
  background-color: #F35E59;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  position: relative;
}

@media screen and (max-width: 960px) {
  .work__project {
    width: 40%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 780px) {
  .work__project {
    width: 55%;
    padding: 50px 0 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media screen and (max-width: 560px) {
  .work__project {
    width: 90%;
  }
  .work__project:nth-child(2n+1) {
    margin-bottom: 0;
  }
}

.work__project img {
  max-height: 254px;
}

@media screen and (max-width: 780px) {
  .work__project img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 560px) {
  .work__project img {
    width: 100%;
  }
}

.work__head {
  width: 100%;
  margin-bottom: 5px;
  font-size: 1.6rem;
  font-family: "helvetica-bold";
}

.work__head:before {
  content: '';
  background-image: url(../img/sprite.png);
  background-position: -66px -81px;
  width: 36px;
  height: 37px;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -110%);
      -ms-transform: translate(-50%, -110%);
          transform: translate(-50%, -110%);
}

.work__title {
  letter-spacing: 1px;
}

.work__title:after {
  border-color: #fff;
}

.work__text {
  width: 100%;
  margin-bottom: 71px;
}

@media screen and (max-width: 780px) {
  .work__text {
    margin-bottom: 0;
  }
}

.form {
  padding: 93px 0 111px;
  background-color: #1287BF;
  color: #ffffff;
  text-align: center;
  border-bottom: 2px solid #ffffff;
}

.form__wrap {
  margin: 0 auto;
  width: 66%;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  margin-top: 50px;
  padding: 50px 30px 68px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #515151;
}

@media screen and (max-width: 560px) {
  .form__wrap {
    width: 90%;
    padding: 44px 0px 30px 0px;
  }
}

.form__wrap:before {
  position: absolute;
  top: -80px;
  content: '';
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  border: 50px solid transparent;
  border-bottom-color: #ffffff;
}

.form__arrow {
  margin-top: 8px;
  font-size: 4rem;
}

.form__close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: #DE2B24;
  font-size: 1.5rem;
  padding-top: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form__text {
  display: block;
  margin: 0 auto;
  width: 72%;
  height: 50px;
  border-radius: 5px;
  color: #737678;
  margin-bottom: 6px;
  padding-left: 16px;
  border: 1px solid #d3d9de;
}

.form__head {
  margin-bottom: 35px;
}

@media screen and (max-width: 560px) {
  .form__head {
    display: none;
  }
}

.form__submit {
  text-transform: uppercase;
  background-color: #DE2B24;
  margin-top: 35px;
  padding: 15px 37px;
}

.form__title:after {
  border: none;
  margin-top: 0;
}

.is-hidden {
  display: none;
}

.footer {
  background-color: #2A2A2A;
  text-align: center;
  padding: 79px 0 0;
  color: #ffffff;
}

.footer__title:after {
  border: none;
}

.footer__links {
  margin: 30px 0 47px;
}

.footer__links a {
  border: 2px solid #515151;
  border-radius: 3px;
  padding: 10px 12px;
  margin-left: 21px;
  font-size: 21px;
}

.footer__links a:hover {
  border-color: #DE2B24;
}

.footer__links a:first-child {
  margin-left: 0;
}

.footer__inp {
  margin: 31px auto;
  width: 65%;
  height: 54px;
  display: block;
  background-color: #515151;
  padding-left: 24px;
  border-radius: 3px;
  border: none;
}

.footer__submit {
  border-radius: 5px;
  border: 2px solid #515151;
  background-color: #2a2a2a;
  color: #ffffff;
  padding: 15px 35px;
  font-size: 1.1rem;
}

.footer__submit:hover {
  border-color: #DE2B24;
}

.footer__bottom {
  background-color: #515151;
  padding: 20px 0;
  margin-top: 79px;
}
