doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width")
        title Business
        link(rel='stylesheet' href='css/main.css')
        script(src='js/main.min.js' defer)

    body
        include sections/header
        include sections/hero
        include sections/about
        include sections/approch
        include sections/work
        include sections/form
        include sections/footer


