html
  font-size: 16px
body
  font-family: $ff-main
  color: $c-font
  +xs-block
    min-width: 359px


.container
  max-width: 1024px
  margin: 0 auto
a
  color: inherit
  text-decoration: none

img
  vertical-align: middle