@font-face
  font-family: 'georgia-regular'
  src: url('../fonts/georgia/georgia-regular/georgia-regular.eot?#iefix') format("embedded-opentype"),
  url('../fonts/georgia/georgia-regular/georgia-regular.woff') format('woff'),
  url('../fonts/georgia/georgia-regular/georgia-regular.ttf') format('ttf')


@font-face
  font-family: "helvetica-bold"
  src: url("../fonts/helvetica/helvetica-bold/helvetica-bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/helvetica/helvetica-bold/helvetica-bold.woff") format("woff"),
  url("../fonts/helvetica/helvetica-bold/helvetica-bold.ttf") format("ttf")



@font-face
  font-family: 'helvetica-light'
  src: url("../fonts/helvetica/helvetica-light/helvetica-light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/helvetica/helvetica-light/helvetica-light.woff") format("woff"),
  url("../fonts/helvetica/helvetica-light/helvetica-light.ttf") format("ttf")


@font-face
  font-family: 'helvetica'
  src: url("../fonts/helvetica/helvetica-regular/helvetica-regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/helvetica/helvetica-regular/helvetica-regular.woff") format("woff"),
  url("../fonts/helvetica/helvetica-regular/helvetica-regular.ttf") format("ttf")
