section.about
    .container
        .title.about__title
            .title__head About Us
            h1.title__text We are added our major Services
        ul.about__list
            li.about__item
                .icon.icon-hand
                h3.about__header Facebook Marketing
                p.about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam illum magnam nostrum obcaecati saepe, velit?
            li.about__item
                .icon.icon-book
                h3.about__header Landing pages Creation
                p.about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam illum magnam nostrum obcaecati saepe, velit?
            li.about__item
                .icon.icon-mass
                h3.about__header Ads management
                p.about__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam illum magnam nostrum obcaecati saepe, velit?