section.approch
    .container
        .title.approch__title
            .title__head Our Approch
            h1.title__text We are added our major Services
        ul.approch__list
            li.approch__item
                .approch__img
                    img.approch__pic(src='img/img1.jpg')
                    .approch__step step
                .approch__text
                    .approch__head Step 1: Heading Here
                    p.approch__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet, eligendi eveniet fuga iste libero Alias amet, eligendi eveniet fuga iste libero rerem repellat vitae voluptas voluptatem.
            li.approch__item
                .approch__img
                    img.approch__pic(src='img/img2.jpg')
                    .approch__step step
                .approch__text
                    .approch__head Step 2: Heading Here
                    p.approch__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet, eligendi eveniet fuga iste libero rem repellat vitae voluptas voluptatem.
            li.approch__item
                .approch__img
                    img.approch__pic(src='img/img3.jpg')
                    .approch__step step
                .approch__text
                    .approch__head Step 3: Heading Here
                    p.approch__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet, eligendi  eveniet fuga iste libero rem repellat vitae voluptas voluptatem.
            li.approch__item
                .approch__img
                    img.approch__pic(src='img/img3.jpg')
                    .approch__step step
                .approch__text
                    .approch__head Step 4: Heading Here
                    p.approch__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet,eligendi eveniet fuga iste libero rem repellat vitae voluptas voluptatem.