-var linkItems = ['facebook', 'twitter', 'google', 'instagram']
-var linkUrls = ['facebook.com', 'twitter.com', 'google.com', 'instagram.com']
footer.footer
    .footer__top
        .container
            .title.footer__title
                .title__head Get in touch
            .footer__links
                each item, key in linkUrls
                    a(href='https://'+ item target = 'blank')
                        i(class='fab fa-' +  linkItems[key])
            .footer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, nobis.
            form.footer__form(method='post' action='#')
                input.footer__inp(type='text' placeholder='Email')
                button.footer__submit Subscribe

    .footer__bottom Cssauthor.com © 2014 All Rights Reserved