section.form
    .container
        .title.form__title
            .title__head Get Your Free Facebook Analysis Now
            h3.title__text Enter your details below
        .form__arrow: i.fas.fa-chevron-circle-down
        .form__wrap.is-hidden
            .form__close(type='button') X
            form.form__us(method='post' action='#')
                .form__head Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more
                input.form__text(type='text' placeholder='Name'  data-valid='required')
                input.form__text(type='text' placeholder='Email' data-valid='required' data-email)
                input.form__text(type='text' placeholder='Number' data-valid='required' data-phone)
                button.button.form__submit submit now