header.header
    .header__top
        .container
            .contacts
                .contact
                    a(href='#')
                        i.fas.fa-mobile-alt.contact--icon
                        span.contact__text 456548456
                .contact
                    a(href='mailto:info@business.co')
                        i.fas.fa-envelope.contact--icon
                        span.contact__text info@business.co
                a.fab.fa-facebook-f.face-icon(href="facebook.com")
    .container
        .header__bottom
            .header__logo
                img.logo(src='img/logo.png')
            include nav
            botton.button.button--red Free Consultation

