-var dataSections = ['header', 'about', 'approch', 'work']
-var arrNameItems = ['Home', 'About Us', 'Our Approch', 'Our Work']
nav.nav
    each item, key in arrNameItems
        if item === 'Home'
            a.nav__item.nav--active(href='#' data-link=dataSections[key])=item
        else
            a.nav__item(href='#' data-link=dataSections[key])=item
