section.work
    .container
        .title.work__title
            .title__head Our Work
            h1.title__text We are added our major Services
        .work__content
            .work__project
                .work__head Project Name
                .work__text Facebook marketing
            .work__project
                img.work__pic(src='img/img1.jpg')
            .work__project
                .work__head Project Name
                .work__text Facebook marketing
            .work__project
                img.work__pic(src='img/img2.jpg')
            .work__project
                img.work__pic(src='img/img4.jpg')
            .work__project
                .work__head Project Name
                .work__text Facebook marketing
            .work__project
                img.work__pic(src='img/img3.jpg')
            .work__project
                .work__head Project Name
                .work__text Facebook marketing
